- Banner = require('#/src/banner')
- Heading = require('#/src/heading')
- Catalog = require('#/src/catalog')
- classes = require('./style')
- containerClasses = require('#/src/container')

- hotItems = [];

for categoryItems in store.items()
  -
    hotCategoryItems = categoryItems.filter(function(item) {
      return item.isHot;
    });
    hotItems = hotItems.concat(hotCategoryItems);

div(class=classes.MainPage)
  != Banner()
  div(class=containerClasses.container)
    div(class=classes.heading)
      != Heading({ text: 'Популярные товары' })
    div(class=classes.hotItems)
      != Catalog({ items: hotItems })
