@import '#/src/entities';

.MainPage {
  @extend %component;
}

.specialOffers {
  @extend %element;
  margin-top: 40px;
}

.heading {
  @extend %element;
  margin-top: 30px;
}

.hotItems {
  @extend %element;
  margin-top: 30px;
}
