@import '#/src/config';
@import '#/src/entities';

.CommonLayout {
  @extend %component;
  padding-bottom: 30px;
}

.page {
  @extend %element;
  width: $layout-full-width;
  padding: 0 $layout-padding;
  margin: auto;
}
