- classes = require('./style')
- containerClasses = require('#/src/container')

div(class=classes.Banner)
	div(class=containerClasses.container)
		div(class=classes.text)
			p(class=classes.textInner)
				| Продаём и ремонтируем
				br
				| сварочное оборудование
				br
				| в Томске
