@import '#/src/config';
@import '#/src/entities';

.Specs {
  @extend %component;
}

.Specs_compact {
  font-size: 12px;
}

.item {
  @extend %element;
  font: inherit;
}

.itemCaption {
  @extend %element;
  display: inline;
  font: inherit;
}

.itemValue {
  @extend %element;
  display: inline;
  font: inherit;
}
