%component {
  all: initial;
  display: block;
  box-sizing: border-box;
  font: 14px / 1.4 Roboto, Helvetica, Arial, sans-serif;
  color: #433;
  cursor: inherit;
}

%element {
  @extend %component;
  cursor: inherit;
}
