$layout-width: 960px;
$layout-padding: 20px;
$layout-full-width: calc($layout-width + $layout-padding * 2);
$text-color: #333;
$muted-text-color: #6a6a6a;
$accent-color: #f8d64c;
$error-color: #F8896B;
