@import '#/src/config';
@import '#/src/entities';

.Footer {
  @extend %component;
  padding-top: 15px;
  border-top: 1px solid #e6e6e6;
}

.copyright {
  @extend %element;
  text-align: center;
  font-size: 16px;
}
