- productCard = require('#/src/product-card')
- classes = require('./style')

div(class=classes.Catalog)
  ol(class=classes.list)
    each item in items
      li(class=classes.listItem)
        != productCard({ product: item, interactive: false })
